Repository ovh-ux/ovh-manager-telecom, pull requests merged in 2018-10, with the labels that each got.

#938 fix(webpack): remove useless eslint comments
  webpack.config.js
Labels: bug

#944 build(scripts.test): run yarn lint command
  package.json
Labels: bug

#943 feat(dashboard): added Summit banner
  client/app/common/assets/images/summit/banner-manager-2500x235-en.jpg
  client/app/common/assets/images/summit/banner-manager-2500x235-fr.jpg
  client/app/common/assets/images/summit/banner-manager-768x200-en.jpg
  client/app/common/assets/images/summit/banner-manager-768x200-fr.jpg
  client/app/telecom/dashboard/telecom-dashboard.controller.js
  client/app/telecom/dashboard/telecom-dashboard.html
  client/app/telecom/dashboard/translations/Messages_fr_FR.xml
Labels: feature, quality check

#941 build: remove deprecated npm-scripts-config|conventional-changelog
  package.json
  yarn.lock
Labels: enhancement

#948 fix: update gitignore file
  .gitignore
Labels: enhancement

#950 fix: remove border top of the summit banner
  client/app/common/less/navbar.less
Labels: bug

#937 feat(xdsl-modem): update xDSL modem display
  client/app/telecom/pack/xdsl/access/ipv6/translations/Messages_fr_FR.xml
  client/app/telecom/pack/xdsl/modem/bridgeMode/translations/Messages_fr_FR.xml
  client/app/telecom/pack/xdsl/modem/firewall/pack-xdsl-modem-firewall.html
  client/app/telecom/pack/xdsl/modem/wifi/config/pack-xdsl-modem-wifi-config.html
Labels: feature, quality check ok, translation required

#934 style(xDSL): update labels
  client/app/telecom/pack/xdsl/modem/managedByOvh/translations/Messages_fr_FR.xml
Labels: quality check ok, translation required

#956 fix(telephony): fix troubleshooting translations
  client/app/telecom/telephony/line/assist/telecom-telephony-line-assist.js
Labels: bug, quality check

#954 build(deps): bump ovh-mondial-relay to v4.1.0
  yarn.lock
Labels: enhancement

#955 build: add clean script
  package.json
Labels: enhancement

#962 fix(components.manager-preload): center hr element
  client/components/manager-preload/manager-preload.less
Labels: bug, quality check ok

#961 build: remove duplicate dependencies
  .gitignore
  package.json
  yarn.lock
Labels: enhancement

#965 fix: remove unused scriptsrc file
  .scriptsrc
Labels: bug

#971 build(changelog): use npx conventional-changelog-cli with angular preset
  package.json
  yarn.lock
Labels: enhancement

#960 feat(fiber): add step for fiber migration
  client/app/telecom/pack/migration/building-details/telecom-pack-migration-building-details.controller.js
  client/app/telecom/pack/migration/building-details/telecom-pack-migration-building-details.html
  client/app/telecom/pack/migration/telecom-pack-migration.html
  client/app/telecom/pack/migration/telecom-pack-migration.js
  client/app/telecom/pack/migration/translations/Messages_fr_FR.xml
  client/components/telecom/pack/migration/pack-migration-process.service.js
  yarn.lock
Labels: feature, quality check ok

#974 refactor(components): init telecomUniverseComponents module
  client/app/app.js
  client/telecomUniverseComponents/index.js
Labels: :jack_o_lantern: one-manager

#984 fix(components): add eslintrc file
  client/telecomUniverseComponents/.eslintrc
Labels: :jack_o_lantern: one-manager

#975 refactor(components.chartjs): move to telecomUniverseComponents
  client/app/index.js
  client/app/telecom/overTheBox/details/overTheBox-details.controller.js
  client/app/telecom/overTheBox/details/overTheBox-details.html
  client/app/telecom/pack/xdsl/access/statistics/pack-xdsl-statistics.controller.js
  client/app/telecom/pack/xdsl/access/statistics/pack-xdsl-statistics.html
  client/app/telecom/telephony/line/calls/simultaneousLines/trunk/telecom-telephony-line-trunk-calls-simultaneousLines.controller.js
  client/app/telecom/telephony/line/calls/simultaneousLines/trunk/telecom-telephony-line-trunk-calls-simultaneousLines.html
  client/telecomUniverseComponents/chartjs/chartjs.constants.js
  client/telecomUniverseComponents/chartjs/chartjs.directive.js
  client/telecomUniverseComponents/chartjs/chartjs.factory.js
  client/telecomUniverseComponents/chartjs/chartjs.html
  client/telecomUniverseComponents/chartjs/index.js
  client/telecomUniverseComponents/index.js
Labels: :jack_o_lantern: one-manager, quality check ok

#983 refactor(components.unit-humanize): move to telecomUniverseComponents
  client/app/telecom/overTheBox/details/overTheBox-details.controller.js
  client/app/telecom/pack/xdsl/access/statistics/pack-xdsl-statistics.controller.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/unit/humanize/index.js
  client/telecomUniverseComponents/unit/humanize/unit-humanize.filter.js
Labels: :jack_o_lantern: one-manager, quality check ok

#982 fix(pack): fix show and hide on init modal
  client/app/telecom/pack/slots/promotionCode/pack-promotionCode.modal.html
Labels: bug, quality check ok

#987 refactor(components.toggle-swicth): remove unused component
  client/app/app.less
  client/components/toggleSwitch/toggleSwitch.component.js
  client/components/toggleSwitch/toggleSwitch.html
  client/components/toggleSwitch/toggleSwitch.less
Labels: :jack_o_lantern: one-manager, quality check ok

#996 fix(pack.notification): fix fiber notification message
  client/app/telecom/pack/xdsl/access/notifications/pack-xdsl-access-notifications.html
  client/app/telecom/pack/xdsl/access/notifications/translations/Messages_fr_FR.xml
Labels: bug, quality check ok, translation required

#1007 Feat/summit banner : change subscription banner to live banner
  client/app/common/assets/images/summit/banner-manager-2500x235-en.jpg
  client/app/common/assets/images/summit/banner-manager-2500x235-fr.jpg
  client/app/common/assets/images/summit/banner-manager-768x200-en.jpg
  client/app/common/assets/images/summit/banner-manager-768x200-fr.jpg
  client/app/telecom/dashboard/telecom-dashboard.html
  client/app/telecom/dashboard/translations/Messages_cs_CZ.xml
  client/app/telecom/dashboard/translations/Messages_de_DE.xml
  client/app/telecom/dashboard/translations/Messages_en_ASIA.xml
  client/app/telecom/dashboard/translations/Messages_en_AU.xml
  client/app/telecom/dashboard/translations/Messages_en_CA.xml
  client/app/telecom/dashboard/translations/Messages_en_GB.xml
  client/app/telecom/dashboard/translations/Messages_en_SG.xml
  client/app/telecom/dashboard/translations/Messages_en_US.xml
  client/app/telecom/dashboard/translations/Messages_es_ES.xml
  client/app/telecom/dashboard/translations/Messages_es_US.xml
  client/app/telecom/dashboard/translations/Messages_fi_FI.xml
  client/app/telecom/dashboard/translations/Messages_fr_CA.xml
  client/app/telecom/dashboard/translations/Messages_fr_FR.xml
  client/app/telecom/dashboard/translations/Messages_it_IT.xml
  client/app/telecom/dashboard/translations/Messages_lt_LT.xml
  client/app/telecom/dashboard/translations/Messages_nl_NL.xml
  client/app/telecom/dashboard/translations/Messages_pl_PL.xml
  client/app/telecom/dashboard/translations/Messages_pt_PT.xml
Labels: quality check ok

#1011 Feat/summit banner : change subscription banner to updates banner
  client/app/common/assets/images/summit/banner-manager-2500x235-en.jpg
  client/app/common/assets/images/summit/banner-manager-2500x235-fr.jpg
  client/app/common/assets/images/summit/banner-manager-768x200-en.jpg
  client/app/common/assets/images/summit/banner-manager-768x200-fr.jpg
  client/app/telecom/dashboard/telecom-dashboard.controller.js
  client/app/telecom/dashboard/telecom-dashboard.html
  client/app/telecom/dashboard/translations/Messages_cs_CZ.xml
  client/app/telecom/dashboard/translations/Messages_de_DE.xml
  client/app/telecom/dashboard/translations/Messages_en_ASIA.xml
  client/app/telecom/dashboard/translations/Messages_en_AU.xml
  client/app/telecom/dashboard/translations/Messages_en_CA.xml
  client/app/telecom/dashboard/translations/Messages_en_GB.xml
  client/app/telecom/dashboard/translations/Messages_en_SG.xml
  client/app/telecom/dashboard/translations/Messages_en_US.xml
  client/app/telecom/dashboard/translations/Messages_es_ES.xml
  client/app/telecom/dashboard/translations/Messages_es_US.xml
  client/app/telecom/dashboard/translations/Messages_fi_FI.xml
  client/app/telecom/dashboard/translations/Messages_fr_CA.xml
  client/app/telecom/dashboard/translations/Messages_fr_FR.xml
  client/app/telecom/dashboard/translations/Messages_it_IT.xml
  client/app/telecom/dashboard/translations/Messages_lt_LT.xml
  client/app/telecom/dashboard/translations/Messages_nl_NL.xml
  client/app/telecom/dashboard/translations/Messages_pl_PL.xml
  client/app/telecom/dashboard/translations/Messages_pt_PT.xml
Labels: quality check ok

#990 refactor(components.table-sort): move to telecomUniverseComponents
  client/components/notification/notification-list.html
  client/components/table-sort/table-sort.directive.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/table-sort/colSort.component.js
  client/telecomUniverseComponents/table-sort/index.js
  client/telecomUniverseComponents/table-sort/table-sort.directive.js
  client/telecomUniverseComponents/table-sort/table-sort.html
Labels: :jack_o_lantern: one-manager, quality check ok

#985 refactor(components.validator): move to telecomUniverseComponents
  .eslintrc
  client/app/index.js
  client/app/telecom/freeFax/faxConfiguration/freeFax-faxConfiguration.controller.js
  client/app/telecom/overTheBox/remote/overTheBox-remote.controller.js
  client/app/telecom/pack/move/address/future/pack-move-address-future.component.js
  client/app/telecom/pack/move/address/future/pack-move-address-future.html
  client/app/telecom/pack/move/eligibility/address/pack-move-eligibility-address.component.js
  client/app/telecom/pack/move/eligibility/address/pack-move-eligibility-address.html
  client/app/telecom/pack/move/pack-move.controller.js
  client/app/telecom/pack/pack.controller.js
  client/app/telecom/pack/resiliation/pack-resiliation.controller.js
  client/app/telecom/pack/slots/emailPro/add/pack-emailPro-add.controller.js
  client/app/telecom/pack/slots/exchangeIndividual/add/pack-exchangeIndividual-add.controller.js
  client/app/telecom/pack/slots/hostedEmail/add/pack-hostedEmail-add.controller.js
  client/app/telecom/pack/xdsl/access/deconsolidation/pack-xdsl-access-deconsolidation.controller.js
  client/app/telecom/pack/xdsl/access/ip/pack-xdsl-access-ip.controller.js
  client/app/telecom/pack/xdsl/modem/dmz/pack-xdsl-modem-dmz.controller.js
  client/app/telecom/pack/xdsl/modem/router/dhcp/bdhcp/pack-xdsl-modem-dhcp-bdhcp.controller.js
  client/app/telecom/pack/xdsl/modem/router/dhcp/bdhcp/pack-xdsl-modem-dhcp-bdhcp.html
  client/app/telecom/pack/xdsl/modem/router/dhcp/pack-xdsl-modem-dhcp.controller.js
  client/app/telecom/pack/xdsl/modem/router/lan/pack-xdsl-modem-lan.controller.js
  client/app/telecom/pack/xdsl/modem/router/ports/pack-xdsl-modem-ports.controller.js
  client/app/telecom/pack/xdsl/resiliation/pack-xdsl-resiliation.controller.js
  client/app/telecom/sms/sms/hlr/telecom-sms-sms-hlr.controller.js
  client/app/telecom/telephony/billingAccount/orderAlias/coordinate/identity/telecom-telephony-billing-account-orderAlias-coordinate-identity.component.js
  client/app/telecom/telephony/billingAccount/orderAlias/coordinate/identity/telecom-telephony-billing-account-orderAlias-coordinate-identity.html
  client/app/telecom/telephony/billingAccount/orderAlias/coordinate/telecom-telephony-billing-account-orderAlias-coordinate.component.js
  client/app/telecom/telephony/billingAccount/orderAlias/identity/telecom-telephony-group-v4-billing-account-orderAlias-identity.component.js
  client/app/telecom/telephony/billingAccount/orderAlias/identity/telecom-telephony-group-v4-billing-account-orderAlias-identity.html
  client/app/telecom/telephony/line/assist/troubleshooting/autoConfig/telecom-telephony-line-assist-troubleshooting-auto-config.controller.js
  client/app/telecom/telephony/line/assist/troubleshooting/manualConfig/telecom-telephony-line-assist-troubleshooting-manual-config.controller.js
  client/app/telecom/telephony/line/assist/troubleshooting/manualConfig/telecom-telephony-line-assist-troubleshooting-manual-config.html
  client/app/telecom/telephony/line/calls/forward/telecom-telephony-line-calls-forward.controller.js
  client/app/telecom/telephony/line/phone/configuration/telecom-telephony-line-phone-configuration.controller.js
  client/app/telecom/telephony/service/fax/campaigns/telecom-telephony-service-fax-campaigns.controller.js
  client/components/telecom/telephony/group/line/phone/configration/line-phone-configuration.component.js
  client/components/telecom/telephony/group/number/feature/svi/telephony-group-number-feature-svi.component.controller.js
  client/components/validator/validator.config.js
  client/components/validator/validator.constant.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/validator/index.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1000 refactor(components.debounce): move to telecomUniverseComponents
  client/app/telecom/sms/order/telecom-sms-order.controller.js
  client/app/telecom/sms/sms/outgoing/telecom-sms-sms-outgoing.controller.js
  client/app/telecom/telephony/line/calls/simultaneousLines/trunk/telecom-telephony-line-trunk-calls-simultaneousLines.controller.js
  client/telecomUniverseComponents/debounce/debounce.factory.js
  client/telecomUniverseComponents/debounce/index.js
  client/telecomUniverseComponents/index.js
Labels: :jack_o_lantern: one-manager, quality check ok

#995 refactor(components.telecom.otb): move to telecomUniverseComponents
  client/components/telecom/telecom-mediator.service.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/telecom/otb/index.js
  client/telecomUniverseComponents/telecom/otb/over-the-box-mediator.service.js
Labels: :jack_o_lantern: one-manager, quality check ok

#994 refactor(components.telecom.sms): move to telecomUniverseComponents
  client/app/telecom/sms/dashboard/telecom-sms-dashboard.controller.js
  client/app/telecom/sms/guides/telecom-sms-guides.controller.js
  client/app/telecom/sms/options/manage/telecom-sms-options-manage.controller.js
  client/app/telecom/sms/options/recredit/telecom-sms-options-recredit.controller.js
  client/app/telecom/sms/options/recredit/update/telecom-sms-options-recredit-update.controller.js
  client/app/telecom/sms/options/response/add/telecom-sms-options-response-add.controller.js
  client/app/telecom/sms/options/response/edit/telecom-sms-options-response-edit.controller.js
  client/app/telecom/sms/options/response/remove/telecom-sms-options-response-remove.controller.js
  client/app/telecom/sms/options/response/telecom-sms-options-response.controller.js
  client/app/telecom/sms/order/telecom-sms-order.controller.js
  client/app/telecom/sms/receivers/clean/telecom-sms-receivers-clean.controller.js
  client/app/telecom/sms/receivers/telecom-sms-receivers.controller.js
  client/app/telecom/sms/sms/compose/addReceiversLists/telecom-sms-sms-compose-addReceiversLists.controller.js
  client/app/telecom/sms/sms/compose/telecom-sms-sms-compose.controller.js
  client/app/telecom/sms/sms/hlr/telecom-sms-sms-hlr.controller.js
  client/app/telecom/sms/sms/templates/add/telecom-sms-sms-templates-add.controller.js
  client/app/telecom/sms/sms/templates/edit/telecom-sms-sms-templates-edit.controller.js
  client/app/telecom/sms/sms/templates/telecom-sms-sms-templates.controller.js
  client/app/telecom/sms/telecom-sms.constant.js
  client/app/telecom/sms/telecom-sms.controller.js
  client/app/telecom/sms/telecom-sms.js
  client/app/telecom/sms/users/limit/telecom-sms-users-limit.controller.js
  client/app/telecom/sms/users/telecom-sms-users.controller.js
  client/components/navbar/navbar.service.js
  client/components/telecom/sms/sidebar/sms-sidebar.service.js
  client/components/telecom/telecom-mediator.service.js
  client/components/telecom/telephony/callsFiltering/telecom-telephony-callsFilteringAdd.component.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/telecom/sms/csv-parser/csv-parser.service.js
  client/telecomUniverseComponents/telecom/sms/index.js
  client/telecomUniverseComponents/telecom/sms/sms-mediator.service.js
  client/telecomUniverseComponents/telecom/sms/sms-service.factory.js
  client/telecomUniverseComponents/telecom/sms/sms.constants.js
Labels: :jack_o_lantern: one-manager, quality check ok

#991 refactor(components.success-drawing-check): move to telecomUniverseComponents
  client/app/app.less
  client/app/telecom/sms/options/manage/update/telecom-sms-options-manage-update.html
  client/app/telecom/sms/options/recredit/update/telecom-sms-options-recredit-update.html
  client/app/telecom/sms/options/response/add/telecom-sms-options-response-add.html
  client/app/telecom/sms/options/response/edit/telecom-sms-options-response-edit.html
  client/app/telecom/sms/options/response/remove/telecom-sms-options-response-remove.html
  client/app/telecom/sms/phonebooks/contact-create/telecom-sms-phonebooks-phonebook-contact-create.html
  client/app/telecom/sms/phonebooks/contact-delete/telecom-sms-phonebooks-phonebook-contact-delete.html
  client/app/telecom/sms/phonebooks/contact-import/telecom-sms-phonebooks-phonebook-contact-import.html
  client/app/telecom/sms/phonebooks/contact-update/telecom-sms-phonebooks-phonebook-contact-update.html
  client/app/telecom/sms/phonebooks/delete/telecom-sms-phonebooks-delete.html
  client/app/telecom/sms/receivers/add/telecom-sms-receivers-add.html
  client/app/telecom/sms/receivers/clean/telecom-sms-receivers-clean.html
  client/app/telecom/sms/receivers/edit/telecom-sms-receivers-edit.html
  client/app/telecom/sms/receivers/remove/telecom-sms-receivers-remove.html
  client/app/telecom/sms/senders/blacklisted/remove/telecom-sms-senders-blacklisted-remove.html
  client/app/telecom/sms/senders/edit/telecom-sms-senders-edit.html
  client/app/telecom/sms/senders/remove/telecom-sms-senders-remove.html
  client/app/telecom/sms/senders/terminate/telecom-sms-senders-terminate.html
  client/app/telecom/sms/sms/compose/addPhonebookContact/telecom-sms-sms-compose-addPhonebookContact.html
  client/app/telecom/sms/sms/compose/addReceiversLists/telecom-sms-sms-compose-addReceiversLists.html
  client/app/telecom/sms/sms/incoming/remove/telecom-sms-sms-incoming-remove.html
  client/app/telecom/sms/sms/outgoing/remove/telecom-sms-sms-outgoing-remove.html
  client/app/telecom/sms/sms/pending/remove/telecom-sms-sms-pending-remove.html
  client/app/telecom/sms/sms/templates/add/telecom-sms-sms-templates-add.html
  client/app/telecom/sms/sms/templates/edit/telecom-sms-sms-templates-edit.html
  client/app/telecom/sms/sms/templates/relaunch/telecom-sms-sms-templates-relaunch.html
  client/app/telecom/sms/sms/templates/remove/telecom-sms-sms-templates-remove.html
  client/app/telecom/sms/users/add/telecom-sms-users-add.html
  client/app/telecom/sms/users/callback/telecom-sms-users-callback.html
  client/app/telecom/sms/users/change-password/telecom-sms-users-change-password.html
  client/app/telecom/sms/users/limit/telecom-sms-users-limit.html
  client/app/telecom/sms/users/quota/telecom-sms-users-quota.html
  client/app/telecom/sms/users/remove/telecom-sms-users-remove.html
  client/app/telecom/sms/users/restrict/telecom-sms-users-restrict.html
  client/app/telecom/sms/users/templates/telecom-sms-users-templates.html
  client/app/telecom/telephony/billingAccount/billing/creditThreshold/telecom-telephony-billing-account-billing-credit-threshold.html
  client/app/telecom/telephony/billingAccount/billing/depositMovement/telecom-telephony-billing-account-billing-deposit-movement.html
  client/app/telecom/telephony/billingAccount/phonebook/contact-add/telecom-telephony-billing-account-phonebook-contact-add.html
  client/app/telecom/telephony/billingAccount/phonebook/contact-import/telecom-telephony-billing-account-phonebook-contact-import.html
  client/app/telecom/telephony/billingAccount/phonebook/contact-update/telecom-telephony-billing-account-phonebook-contact-update.html
  client/app/telecom/telephony/billingAccount/phonebook/remove/telecom-telephony-billing-account-phonebook-remove.html
  client/app/telecom/telephony/line/calls/click2Call/remove-user/telecom-telephony-line-calls-click2Call-remove-user.html
  client/app/telecom/telephony/line/management/offerChange/edit/telecom-telephony-line-management-offer-change-edit.html
  client/app/telecom/telephony/line/phone/phonebook/contact-add/telecom-telephony-line-phone-phonebook-contact-add.html
  client/app/telecom/telephony/line/phone/phonebook/contact-import/telecom-telephony-line-phone-phonebook-contact-import.html
  client/app/telecom/telephony/line/phone/phonebook/contact-update/telecom-telephony-line-phone-phonebook-contact-update.html
  client/app/telecom/telephony/line/phone/phonebook/remove/telecom-telephony-line-phone-phonebook-remove.html
  client/app/telecom/telephony/line/phone/programmableKeys/edit/telecom-telephony-line-phone-programmableKeys-edit.html
  client/app/telecom/telephony/service/fax/campaigns/add/telecom-telephony-service-fax-campaigns-add.html
  client/app/telecom/telephony/service/fax/campaigns/remove/telecom-telephony-service-fax-campaigns-remove.html
  client/components/successDrawingCheck/successDrawingCheck.component.js
  client/components/telecom/telephony/scheduler/actions/export/telephony-scheduler-export.html
  client/components/telecom/telephony/scheduler/actions/import/telephony-scheduler-import.html
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/successDrawingCheck/index.js
  client/telecomUniverseComponents/successDrawingCheck/successDrawingCheck.component.js
  client/telecomUniverseComponents/successDrawingCheck/successDrawingCheck.html
  client/telecomUniverseComponents/successDrawingCheck/successDrawingCheck.less
Labels: :jack_o_lantern: one-manager, quality check ok

#993 refactor(components.telecom.pictos): remove unused components
  client/components/telecom/pictos/picto-ethernet/picto-ethernet.component.js
  client/components/telecom/pictos/picto-ethernet/picto-ethernet.html
  client/components/telecom/pictos/picto-fax/picto-fax.component.js
  client/components/telecom/pictos/picto-fax/picto-fax.html
  client/components/telecom/pictos/picto-otb/picto-otb.component.js
  client/components/telecom/pictos/picto-otb/picto-otb.html
  client/components/telecom/pictos/picto-phone/picto-phone.component.js
  client/components/telecom/pictos/picto-phone/picto-phone.html
  client/components/telecom/pictos/picto-sms/picto-sms.component.js
  client/components/telecom/pictos/picto-sms/picto-sms.html
Labels: :jack_o_lantern: one-manager

#936 feat(xdsl): update xDSL guides link
  client/app/config/all.js
  client/app/telecom/dashboard/guides/telecom-dashboard-guides.controller.js
  client/app/telecom/dashboard/guides/telecom-dashboard-guides.html
  client/app/telecom/dashboard/translations/Messages_fr_FR.xml
Labels: feature, quality check ok, translation required

#942 Feat/xdsl modem tasks
  client/app/telecom/pack/xdsl/modem/firewall/pack-xdsl-modem-firewall.html
  client/app/telecom/pack/xdsl/pack-xdsl.controller.js
  client/app/telecom/pack/xdsl/pack-xdsl.html
  client/app/telecom/pack/xdsl/tasks/pack-xdsl-tasks.controller.js
  client/app/telecom/pack/xdsl/tasks/pack-xdsl-tasks.html
  client/app/telecom/pack/xdsl/tasks/packs-xdsl-tasks.js
  client/app/telecom/pack/xdsl/tasks/translations/Messages_fr_FR.xml
  client/app/telecom/pack/xdsl/translations/Messages_fr_FR.xml
  yarn.lock
Labels: feature, quality check ok, translation required

#1022 refactor(components.gauge): move to telecomUniverseComponents
  client/app/app.less
  client/app/telecom/overTheBox/details/overTheBox-details.html
  client/components/gauge/gauge.less
  client/telecomUniverseComponents/gauge/gauge.directive.js
  client/telecomUniverseComponents/gauge/gauge.html
  client/telecomUniverseComponents/gauge/gauge.less
  client/telecomUniverseComponents/gauge/index.js
  client/telecomUniverseComponents/index.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1028 refactor: use @ovh-ux/translate-async-loader
  client/app/app.js
  client/app/async-loader.factory.js
  package.json
  yarn.lock
Labels: :jack_o_lantern: one-manager

#1027 refactor: remove summit banner
  client/app/common/assets/images/summit/banner-manager-2500x235-en.jpg
  client/app/common/assets/images/summit/banner-manager-2500x235-fr.jpg
  client/app/common/assets/images/summit/banner-manager-768x200-en.jpg
  client/app/common/assets/images/summit/banner-manager-768x200-fr.jpg
  client/app/telecom/dashboard/telecom-dashboard.controller.js
  client/app/telecom/dashboard/telecom-dashboard.html
  client/app/telecom/dashboard/translations/Messages_cs_CZ.xml
  client/app/telecom/dashboard/translations/Messages_de_DE.xml
  client/app/telecom/dashboard/translations/Messages_en_ASIA.xml
  client/app/telecom/dashboard/translations/Messages_en_AU.xml
  client/app/telecom/dashboard/translations/Messages_en_CA.xml
  client/app/telecom/dashboard/translations/Messages_en_GB.xml
  client/app/telecom/dashboard/translations/Messages_en_SG.xml
  client/app/telecom/dashboard/translations/Messages_en_US.xml
  client/app/telecom/dashboard/translations/Messages_es_ES.xml
  client/app/telecom/dashboard/translations/Messages_es_US.xml
  client/app/telecom/dashboard/translations/Messages_fi_FI.xml
  client/app/telecom/dashboard/translations/Messages_fr_CA.xml
  client/app/telecom/dashboard/translations/Messages_fr_FR.xml
  client/app/telecom/dashboard/translations/Messages_it_IT.xml
  client/app/telecom/dashboard/translations/Messages_lt_LT.xml
  client/app/telecom/dashboard/translations/Messages_nl_NL.xml
  client/app/telecom/dashboard/translations/Messages_pl_PL.xml
  client/app/telecom/dashboard/translations/Messages_pt_PT.xml
Labels: enhancement, quality check ok

#992 refactor(components.slider): move to telecomUniverseComponents
  .eslintignore
  client/app/app.less
  client/app/telecom/pack/xdsl/access/rateLimit/xdsl-access-lns-ratelimit.html
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/slider/index.js
  client/telecomUniverseComponents/slider/slider.directive.js
  client/telecomUniverseComponents/slider/slider.less
Labels: :jack_o_lantern: one-manager, quality check ok

#1019 refactor(components.ip-address): move to telecomUniverseComponents
  client/app/index.js
  client/app/telecom/overTheBox/remote/overTheBox-remote.controller.js
  client/app/telecom/pack/xdsl/access/ip/pack-xdsl-access-ip.controller.js
  client/app/telecom/telephony/line/management/mgcpIpRestriction/telecom-telephony-line-mgcpIpRestriction.controller.js
  client/app/telecom/telephony/line/management/restrictions/telecom-telephony-line-management-restrictions.controller.js
  client/app/telecom/telephony/line/phone/order/telecom-telephony-line-phone-order.controller.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/ipAddress/index.js
  client/telecomUniverseComponents/ipAddress/ip-address.service.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1010 refactor(components.phone): move to telecomUniverseComponents
  client/app/telecom/sms/senders/blacklisted/telecom-sms-senders-blacklisted.html
  client/app/telecom/telephony/alias/administration/convertToLine/telecom-telephony-alias-administration-convert-to-line.html
  client/app/telecom/telephony/alias/administration/terminate/telecom-telephony-alias-administration-terminate.html
  client/app/telecom/telephony/alias/configuration/agents/ovhPabx/telecom-telephony-alias-configuration-agents-ovhPabx.html
  client/app/telecom/telephony/alias/configuration/members/oldPabx/telecom-telephony-alias-configuration-members-oldPabx.html
  client/app/telecom/telephony/alias/configuration/mode/easyHunting/telecom-telephony-alias-configuration-mode-easyHunting.html
  client/app/telecom/telephony/alias/configuration/mode/easyPabx/telecom-telephony-alias-configuration-mode-easyPabx.html
  client/app/telecom/telephony/alias/configuration/queues/ovhPabx/telecom-telephony-alias-configuration-queues-ovhPabx.html
  client/app/telecom/telephony/alias/portability/portabilities/telecom-telephony-alias-portability-portabilities.html
  client/app/telecom/telephony/billingAccount/administration/linesGroup/telecom-telephony-billing-account-administration-lines-group.html
  client/app/telecom/telephony/billingAccount/billing/calledFees/telecom-telephony-billing-account-billing-called-fees.html
  client/app/telecom/telephony/billingAccount/billing/groupRepayments/telecom-telephony-billing-account-billing-group-repayments.html
  client/app/telecom/telephony/billingAccount/manageContacts/telecom-telephony-billing-account-manageContacts.html
  client/app/telecom/telephony/line/calls/click2Call/telecom-telephony-line-calls-click2Call.html
  client/app/telecom/telephony/line/calls/externalNumber/telecom-telephony-line-calls-externalNumber.html
  client/app/telecom/telephony/line/details/telecom-telephony-line-details.html
  client/app/telecom/telephony/line/management/convert/telecom-telephony-line-management-convert.html
  client/app/telecom/telephony/service/consumption/incomingCalls/telecom-telephony-service-consumption-incomingCalls.html
  client/app/telecom/telephony/service/consumption/incomingFax/telecom-telephony-service-consumption-incomingFax.html
  client/app/telecom/telephony/service/consumption/outgoingCalls/telecom-telephony-service-consumption-outgoingCalls.html
  client/app/telecom/telephony/service/consumption/outgoingFax/telecom-telephony-service-consumption-outgoingFax.html
  client/app/telecom/telephony/service/fax/password/telecom-telephony-service-fax-password.html
  client/app/telecom/telephony/service/voicemail/management/telecom-telephony-service-voicemail-management.html
  client/app/telecom/telephony/service/voicemail/password/telecom-telephony-service-voicemail-password.html
  client/components/telecom/telephony/alias/liveCalls/telecom-telephony-alias-configuration-liveCalls.html
  client/components/telecom/telephony/alias/members/telecom-telephony-alias-members.html
  client/components/telecom/telephony/associateDevice/telecom-telephony-associate-device.html
  client/components/telecom/telephony/callsFiltering/telecom-telephony-callsFilteringTable.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/telephony-group-number-feature-ovh-pabx-dialplan-extension-rule.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/telephony-group-number-feature-ovh-pabx-menu-entry.html
  client/components/telecom/telephony/group/number/feature/redirect/telephony-group-number-feature-redirect.html
  client/components/telecom/telephony/group/number/telephony-group-number.html
  client/components/telecom/telephony/timeCondition/slot/edit/telephony-time-condition-slot-edit.html
  client/components/telecom/telephony/timeCondition/slot/telephony-time-condition-slot.html
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/phone/index.js
  client/telecomUniverseComponents/phone/number/phone-number.directive.js
  client/telecomUniverseComponents/phone/number/phone-number.filter.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1035 refactor(eslint): switch to json format as configuration file
  .eslintrc.json
Labels: enhancement

#1036 refactor: extract configuration from package.json into json files
  .huskyrc.json
  .lintstagedrc.json
  package.json
Labels: enhancement

#1037 build(scripts): add clean dist script
  package.json
Labels: enhancement

#1029 refactor(components.elapsed-time): move to telecomUniverseComponents
  client/components/elapsed-time/elapsed-time.directive.js
  client/components/telecom/telephony/alias/liveCalls/telecom-telephony-alias-configuration-liveCalls.html
  client/telecomUniverseComponents/elapsed-time/elapsed-time-periodic-updater.service.js
  client/telecomUniverseComponents/elapsed-time/elapsed-time.directive.js
  client/telecomUniverseComponents/elapsed-time/index.js
  client/telecomUniverseComponents/elapsed-time/translations/Messages_cs_CZ.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_de_DE.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_en_ASIA.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_en_AU.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_en_CA.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_en_GB.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_en_SG.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_en_US.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_es_ES.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_es_US.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_fi_FI.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_fr_CA.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_fr_FR.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_it_IT.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_lt_LT.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_nl_NL.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_pl_PL.xml
  client/telecomUniverseComponents/elapsed-time/translations/Messages_pt_PT.xml
  client/telecomUniverseComponents/index.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1024 refactor(components.input-file): move to telecomUniverseComponents
  client/app/app.less
  client/app/telecom/sms/phonebooks/contact-import/telecom-sms-phonebooks-phonebook-contact-import.html
  client/app/telecom/sms/receivers/add/telecom-sms-receivers-add.html
  client/app/telecom/telephony/alias/configuration/tones/oldPabx/telecom-telephony-alias-configuration-tones-oldPabx.html
  client/app/telecom/telephony/billingAccount/phonebook/contact-import/telecom-telephony-billing-account-phonebook-contact-import.html
  client/app/telecom/telephony/line/phone/phonebook/contact-import/telecom-telephony-line-phone-phonebook-contact-import.html
  client/app/telecom/telephony/line/tones/telecom-telephony-line-tones.html
  client/app/telecom/telephony/service/fax/campaigns/add/telecom-telephony-service-fax-campaigns-add.html
  client/app/telecom/telephony/service/time-condition/import/telecom-telephony-service-time-condition-import.html
  client/app/telecom/telephony/service/voicemail/options/telecom-telephony-service-voicemail-options.html
  client/components/input-file/input-file.less
  client/components/telecom/alias/hunting/sounds/telecom-telephony-alias-hunting-sounds.html
  client/components/telecom/telephony/abbreviatedNumbers/import/telecom-telephony-abbreviated-numbers-import.modal.html
  client/components/telecom/telephony/group/number/feature/conference/telephony-group-number-feature-conference-configuration.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/sound/uploader/telephony-group-number-feature-ovh-pabx-sound-uploader.directive.js
  client/components/telecom/telephony/scheduler/actions/import/telephony-scheduler-import.html
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/input-file/index.js
  client/telecomUniverseComponents/input-file/input-file-change.directive.js
  client/telecomUniverseComponents/input-file/input-file.directive.js
  client/telecomUniverseComponents/input-file/input-file.html
  client/telecomUniverseComponents/input-file/input-file.less
Labels: :jack_o_lantern: one-manager, quality check ok

#1038 build(deps): upgrade manager-webpack-config to v2.3.4
  yarn.lock
Labels: enhancement

#1025 refactor(components.file-reader): move to telecomUniverseComponents
  client/app/app.less
  client/components/file-reader/file-reader.less
  client/components/telecom/telephony/callsFiltering/telecom-telephony-callsFilteringAdd.html
  client/telecomUniverseComponents/file-reader/file-reader.directive.js
  client/telecomUniverseComponents/file-reader/file-reader.html
  client/telecomUniverseComponents/file-reader/file-reader.less
  client/telecomUniverseComponents/file-reader/index.js
  client/telecomUniverseComponents/index.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1039 refactor(components.telecom.telephony): initialize module
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/telecom/telephony/index.js
Labels: :jack_o_lantern: one-manager

#998 refactor(components.telecom.pack): move to telecomUniverseComponents
  client/app/telecom/pack/migration/building-details/telecom-pack-migration-building-details.controller.js
  client/app/telecom/pack/migration/confirm/telecom-pack-migration-confirm.controller.js
  client/app/telecom/pack/migration/migration/telecom-pack-migration-migration.controller.js
  client/app/telecom/pack/migration/offers/telecom-pack-migration-offers.controller.js
  client/app/telecom/pack/migration/service-delete/telecom-pack-migration-service-delete.controller.js
  client/app/telecom/pack/migration/shipping/telecom-pack-migration-shipping.controller.js
  client/app/telecom/pack/migration/telecom-pack-migration.controller.js
  client/app/telecom/pack/resiliation/pack-resiliation.controller.js
  client/app/telecom/pack/xdsl/modem/bridgeMode/pack-xdsl-modem-bridgeMode.controller.js
  client/app/telecom/pack/xdsl/modem/connectedDevices/pack-xdsl-modem-connectedDevices.controller.js
  client/app/telecom/pack/xdsl/modem/dmz/pack-xdsl-modem-dmz.controller.js
  client/app/telecom/pack/xdsl/modem/firewall/pack-xdsl-modem-firewall.controller.js
  client/app/telecom/pack/xdsl/modem/managedByOvh/pack-xdsl-modem-managedByOvh.controller.js
  client/app/telecom/pack/xdsl/modem/mtu/pack-xdsl-modem-mtu.controller.js
  client/app/telecom/pack/xdsl/modem/pack-xdsl-modem.controller.js
  client/app/telecom/pack/xdsl/modem/reboot/pack-xdsl-modem-reboot.controller.js
  client/app/telecom/pack/xdsl/modem/reset/pack-xdsl-modem-reset.controller.js
  client/app/telecom/pack/xdsl/modem/router/dhcp/bdhcp/pack-xdsl-modem-dhcp-bdhcp.controller.js
  client/app/telecom/pack/xdsl/modem/router/dhcp/pack-xdsl-modem-dhcp.controller.js
  client/app/telecom/pack/xdsl/modem/router/lan/pack-xdsl-modem-lan.controller.js
  client/app/telecom/pack/xdsl/modem/router/pack-xdsl-modem-router.controller.js
  client/app/telecom/pack/xdsl/modem/router/ports/pack-xdsl-modem-ports.controller.js
  client/app/telecom/pack/xdsl/modem/wifi/config/pack-xdsl-modem-wifi-config.controller.js
  client/app/telecom/pack/xdsl/modem/wifi/pack-xdsl-modem-wifi.controller.js
  client/components/navbar/navbar.service.js
  client/components/telecom/pack/sidebar/pack-sidebar.service.js
  client/components/telecom/telecom-mediator.service.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/telecom/pack/index.js
  client/telecomUniverseComponents/telecom/pack/migration/pack-migration-process.service.js
  client/telecomUniverseComponents/telecom/pack/pack-mediator.service.js
  client/telecomUniverseComponents/telecom/pack/xdsl/modem/pack-xdsl-modem-mediator.service.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1032 fix(sms.options): fix editing and deleting sms response options
  client/app/telecom/sms/options/response/edit/telecom-sms-options-response-edit.controller.js
  client/app/telecom/sms/options/response/telecom-sms-options-response.html
Labels: bug, quality check ok

#986 refactor(comp.ui-sortable-helpers): move to telecomUniverseComponents
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/telephony-group-number-feature-ovh-pabx-dialplan-extension.component.controller.js
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/telephony-group-number-feature-ovh-pabx-dialplan.component.controller.js
  client/components/uiSortableHelpers/uiSortableHelpersVariableHeightTolerance.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/uiSortableHelpers/index.js
  client/telecomUniverseComponents/uiSortableHelpers/uiSortableHelpersVariableHeightTolerance.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1006 refactor(components.filters): move to telecomUniverseComponents
  client/app/telecom/pack/migration/confirm/telecom-pack-migration-confirm.html
  client/app/telecom/pack/migration/offers/telecom-pack-migration-offers.html
  client/app/telecom/pack/slots/domain/activation/pack-domain-activation.html
  client/app/telecom/telephony/alias/configuration/queues/ovhPabx/telecom-telephony-alias-configuration-queues-ovhPabx.html
  client/app/telecom/telephony/alias/configuration/stats/ovhPabx/telecom-telephony-alias-configuration-stats-ovhPabx.html
  client/app/telecom/telephony/alias/configuration/tones/oldPabx/telecom-telephony-alias-configuration-tones-oldPabx.html
  client/app/telecom/telephony/billingAccount/administration/linesGroup/telecom-telephony-billing-account-administration-lines-group.html
  client/app/telecom/telephony/line/assist/rma/telecom-telephony-line-assist-rma.html
  client/app/telecom/telephony/line/calls/externalNumber/telecom-telephony-line-calls-externalNumber.html
  client/app/telecom/telephony/line/management/offerChange/edit/telecom-telephony-line-management-offer-change-edit.html
  client/app/telecom/telephony/line/management/offerChange/telecom-telephony-line-management-offer-change.html
  client/app/telecom/telephony/line/phone/accessories/choice/telecom-telephony-line-phone-accessories-choice.html
  client/app/telecom/telephony/line/phone/configuration/telecom-telephony-line-phone-configuration.html
  client/app/telecom/telephony/service/assist/logs/telecom-telephony-service-assist-logs.html
  client/app/telecom/telephony/service/fax/filtering/telecom-telephony-service-fax-filtering.html
  client/components/filters/capitalize/capitalize.filter.js
  client/components/filters/replace/replace.filter.js
  client/components/filters/slugify/slugify.js
  client/components/filters/snakeCase/snake-case.filter.js
  client/components/telecom/telephony/alias/liveCalls/telecom-telephony-alias-configuration-liveCalls.html
  client/components/telecom/telephony/callsFiltering/telecom-telephony-callsFilteringTable.html
  client/components/telecom/telephony/group/line/phone/configration/line-phone-configuration.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/telephony-group-number-feature-ovh-pabx-dialplan-extension-edit.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/telephony-group-number-feature-ovh-pabx-dialplan-extension-rule-edit.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/telephony-group-number-feature-ovh-pabx-dialplan-extension-rule.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/telephony-group-number-feature-ovh-pabx-dialplan-extension.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/edit/telephony-group-number-feature-ovh-pabx-menu-entry-edit.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/telephony-group-number-feature-ovh-pabx-menu-entry.html
  client/components/telecom/telephony/service/choice-popover/telecom-telephony-service-choice-popover.html
  client/components/telecom/telephony/timeCondition/slot/edit/telephony-time-condition-slot-edit.html
  client/telecomUniverseComponents/filters/capitalize/capitalize.filter.js
  client/telecomUniverseComponents/filters/duration/duration.filter.js
  client/telecomUniverseComponents/filters/errors/error-message.filter.js
  client/telecomUniverseComponents/filters/formatPrice/format-price.filter.js
  client/telecomUniverseComponents/filters/index.js
  client/telecomUniverseComponents/filters/middle-trunc/middle-trunc.js
  client/telecomUniverseComponents/filters/props/props.filter.js
  client/telecomUniverseComponents/filters/replace/replace.filter.js
  client/telecomUniverseComponents/filters/slugify/slugify.js
  client/telecomUniverseComponents/filters/snakeCase/snake-case.filter.js
  client/telecomUniverseComponents/filters/words/words.filter.js
  client/telecomUniverseComponents/index.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1018 refactor(components.jsplumb): move to telecomUniverseComponents
  .eslintrc.json
  client/app/index.js
  client/app/telecom/telephony/alias/configuration/ovhPabx/menus/telecom-telephony-alias-configuration-ovhPabx-menus.controller.js
  client/app/telecom/telephony/alias/configuration/ovhPabx/menus/telecom-telephony-alias-configuration-ovhPabx-menus.html
  client/app/telecom/telephony/telecom-telephony.constant.js
  client/components/jsplumb/jsplumb.constant.js
  client/components/telecom/telephony/group/number/feature/conference/telephony-group-number-feature-conference.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/telephony-group-number-feature-ovh-pabx-dialplan-extension-rule.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/telephony-group-number-feature-ovh-pabx-dialplan-extension.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/telephony-group-number-feature-ovh-pabx-dialplan.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/telephony-group-number-feature-ovh-pabx-menu-entry.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/menu/telephony-group-number-feature-ovh-pabx-menu.html
  client/components/telecom/telephony/group/number/feature/ovhPabx/telephony-group-number-feature-ovh-pabx.html
  client/components/telecom/telephony/group/number/feature/redirect/telephony-group-number-feature-redirect.html
  client/components/telecom/telephony/group/number/feature/svi/telephony-group-number-feature-svi.html
  client/components/telecom/telephony/group/number/telephony-group-number.component.controller.js
  client/components/telecom/telephony/group/number/telephony-group-number.constant.js
  client/components/telecom/telephony/group/number/telephony-group-number.html
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/jsplumb/connection/jsplumb-connection.directive.controller.js
  client/telecomUniverseComponents/jsplumb/connection/jsplumb-connection.directive.js
  client/telecomUniverseComponents/jsplumb/connector/twoSegments/jsplumb-connector-twoSegment.js
  client/telecomUniverseComponents/jsplumb/endpoint/jsplumb-endpoint.directive.controller.js
  client/telecomUniverseComponents/jsplumb/endpoint/jsplumb-endpoint.directive.js
  client/telecomUniverseComponents/jsplumb/index.js
  client/telecomUniverseComponents/jsplumb/jsPlumb.constant.js
  client/telecomUniverseComponents/jsplumb/jsplumb.directive.controller.js
  client/telecomUniverseComponents/jsplumb/jsplumb.directive.js
  client/telecomUniverseComponents/jsplumb/jsplumb.service.js
  package.json
  yarn.lock
Labels: :jack_o_lantern: one-manager, quality check ok

#1005 refactor(components.custom-asterisk): move to telecomUniverseComponents
  client/app/telecom/telephony/line/assist/troubleshooting/autoConfig/translations/Messages_fr_FR.xml
  client/app/telecom/telephony/line/assist/troubleshooting/manualConfig/translations/Messages_fr_FR.xml
  client/telecomUniverseComponents/custom-asterisk/custom-asterisk.directive.js
  client/telecomUniverseComponents/custom-asterisk/index.js
  client/telecomUniverseComponents/index.js
Labels: :jack_o_lantern: one-manager, quality check ok, translation required

#1033 refactor(components.telecom-retractation): move to telecomUniverseComp
  client/app/telecom/telephony/line/phone/accessories/resume/telecom-telephony-line-phone-accessories-resume.html
  client/components/telecom/retractation/telecom-retractation.component.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/telecom/retractation/index.js
  client/telecomUniverseComponents/telecom/retractation/telecom-retractation.component.js
  client/telecomUniverseComponents/telecom/retractation/telecom-retractation.html
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_cs_CZ.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_de_DE.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_en_ASIA.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_en_AU.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_en_CA.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_en_GB.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_en_SG.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_en_US.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_es_ES.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_es_US.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_fi_FI.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_fr_CA.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_fr_FR.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_it_IT.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_lt_LT.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_nl_NL.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_pl_PL.xml
  client/telecomUniverseComponents/telecom/retractation/translations/Messages_pt_PT.xml
Labels: :jack_o_lantern: one-manager, quality check ok, translation required

#1047 fix(phone.settings): add isoV4 trad for yealink ldap
  client/app/telecom/telephony/line/phone/configuration/translations/Messages_fr_FR.xml
Labels: bug, translation required

#1049 fix(components.jsplumb): fix TucTwoSegments connector registration
  client/telecomUniverseComponents/jsplumb/connector/twoSegments/jsplumb-connector-twoSegment.js
  client/telecomUniverseComponents/jsplumb/index.js
  client/telecomUniverseComponents/jsplumb/jsPlumb.constant.js
Labels: :jack_o_lantern: one-manager, bug, quality check ok

#1048 fix(navbar): fix error in navbar initialization
  client/components/navbar/navbar.service.js
Labels: bug

#1058 build(htmlhint): add htmlhint configuration
  .htmlhintrc
  .lintstagedrc.json
  package.json
  yarn.lock
Labels: enhancement

#1063 Bump manager webpack config
  README.md
  yarn.lock
Labels: enhancement

#1052 refactor(components.tel-accessories): move to telecomUniverseComponents
  client/app/telecom/telephony/line/phone/accessories/choice/telecom-telephony-line-phone-accessories-choice.controller.js
  client/app/telecom/telephony/line/phone/accessories/finalize/telecom-telephony-line-phone-accessories-finalize.controller.js
  client/app/telecom/telephony/line/phone/accessories/resume/telecom-telephony-line-phone-accessories-resume.controller.js
  client/app/telecom/telephony/line/phone/accessories/shipping/telecom-telephony-line-phone-accessories-shipping.controller.js
  client/app/telecom/telephony/line/phone/accessories/telecom-telephony-line-phone-accessories.controller.js
  client/app/telecom/telephony/line/phone/telecom-telephony-line-phone.constant.js
  client/telecomUniverseComponents/telecom/telephony/accessories/index.js
  client/telecomUniverseComponents/telecom/telephony/accessories/telephony-accessories-order-process.service.js
  client/telecomUniverseComponents/telecom/telephony/accessories/telephony-accessories.constant.js
  client/telecomUniverseComponents/telecom/telephony/index.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1053 refactor(components.tel.phonebookcontact): move to telecomUniverseComponents
  client/app/telecom/sms/phonebooks/contact-create/telecom-sms-phonebooks-phonebook-contact-create.controller.js
  client/app/telecom/sms/phonebooks/contact-update/telecom-sms-phonebooks-phonebook-contact-update.controller.js
  client/app/telecom/telephony/billingAccount/phonebook/contact-add/telecom-telephony-billing-account-phonebook-contact-add.controller.js
  client/app/telecom/telephony/billingAccount/phonebook/contact-update/telecom-telephony-billing-account-phonebook-contact-update.controller.js
  client/app/telecom/telephony/billingAccount/phonebook/telecom-telephony-billing-account-phonebook.controller.js
  client/app/telecom/telephony/line/phone/phonebook/contact-add/telecom-telephony-line-phone-phonebook-contact-add.controller.js
  client/app/telecom/telephony/line/phone/phonebook/contact-update/telecom-telephony-line-phone-phonebook-contact-update.controller.js
  client/app/telecom/telephony/line/phone/phonebook/telecom-telephony-line-phone-phonebook.controller.js
  client/app/telecom/telephony/telecom-telephony.constant.js
  client/telecomUniverseComponents/telecom/telephony/index.js
  client/telecomUniverseComponents/telecom/telephony/phonebookcontact/index.js
  client/telecomUniverseComponents/telecom/telephony/phonebookcontact/phonebookcontact.constant.js
  client/telecomUniverseComponents/telecom/telephony/phonebookcontact/phonebookcontact.service.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1055 refactor(components.tel.numberplans): move to telecomUniverseComponents
  client/app/telecom/telephony/fax/management/informations/telecom-telephony-fax-management-informations.controller.js
  client/app/telecom/telephony/line/calls/externalNumber/telecom-telephony-line-calls-externalNumber.controller.js
  client/app/telecom/telephony/line/details/telecom-telephony-line-details.controller.js
  client/telecomUniverseComponents/telecom/telephony/index.js
  client/telecomUniverseComponents/telecom/telephony/number-plans/index.js
  client/telecomUniverseComponents/telecom/telephony/number-plans/number-plans.constant.js
  client/telecomUniverseComponents/telecom/telephony/number-plans/number-plans.service.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1061 style(input-file): restore style for input-file
  client/app/common/less/form.less
Labels: :jack_o_lantern: one-manager, quality check ok

#1056 feat(fiber.order): add fiber order
  client/app/config/all.js
  client/components/sidebar/sidebar.config.js
  client/components/sidebar/translations/Messages_fr_FR.xml
Labels: enhancement, quality check ok, translation required

#1067 refactor(components): export constant moduleName
  client/telecomUniverseComponents/chartjs/index.js
  client/telecomUniverseComponents/custom-asterisk/index.js
  client/telecomUniverseComponents/debounce/index.js
  client/telecomUniverseComponents/editable-service-name/index.js
  client/telecomUniverseComponents/file-reader/index.js
  client/telecomUniverseComponents/filters/index.js
  client/telecomUniverseComponents/gauge/index.js
  client/telecomUniverseComponents/hideOutsideClick/index.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/input-file/index.js
  client/telecomUniverseComponents/input-filter/index.js
  client/telecomUniverseComponents/ipAddress/index.js
  client/telecomUniverseComponents/phone/index.js
  client/telecomUniverseComponents/section-back-link/index.js
  client/telecomUniverseComponents/slider/index.js
  client/telecomUniverseComponents/successDrawingCheck/index.js
  client/telecomUniverseComponents/table-sort/index.js
  client/telecomUniverseComponents/telecom/fax/index.js
  client/telecomUniverseComponents/telecom/otb/index.js
  client/telecomUniverseComponents/telecom/pack/index.js
  client/telecomUniverseComponents/telecom/sms/index.js
  client/telecomUniverseComponents/telecom/v4-links/index.js
  client/telecomUniverseComponents/toast-error/index.js
  client/telecomUniverseComponents/toaster/index.js
  client/telecomUniverseComponents/uiSortableHelpers/index.js
  client/telecomUniverseComponents/unit/humanize/index.js
  client/telecomUniverseComponents/validator/index.js
Labels: :jack_o_lantern: one-manager

#1051 refactor(components.telephony-abnumbers): move to telecomUniverseComponents
  client/app/app.less
  client/app/telecom/telephony/billingAccount/abbreviatedNumbers/telecom-telephony-abbreviatedNumbers.html
  client/app/telecom/telephony/line/calls/abbreviatedNumbers/telecom-telephony-line-calls-abbreviatedNumbers.html
  client/components/telecom/telephony/abbreviatedNumbers/empty/telecom-telephony-abbreviated-numbers-empty.modal.js
  client/components/telecom/telephony/abbreviatedNumbers/telecom-telephony-abbreviated-numbers.modal.js
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/empty/telecom-telephony-abbreviated-numbers-empty.modal.html
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/empty/telecom-telephony-abbreviated-numbers-empty.modal.js
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/import/telecom-telephony-abbreviated-numbers-import.modal.html
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/import/telecom-telephony-abbreviated-numbers-import.modal.js
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/index.js
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/telecom-telephony-abbreviated-numbers.component.js
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/telecom-telephony-abbreviated-numbers.constant.js
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/telecom-telephony-abbreviated-numbers.html
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/telecom-telephony-abbreviated-numbers.less
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/telecom-telephony-abbreviated-numbers.modal.html
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/telecom-telephony-abbreviated-numbers.modal.js
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_cs_CZ.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_de_DE.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_en_ASIA.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_en_AU.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_en_CA.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_en_GB.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_en_SG.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_en_US.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_es_ES.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_es_US.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_fi_FI.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_fr_CA.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_fr_FR.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_it_IT.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_lt_LT.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_nl_NL.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_pl_PL.xml
  client/telecomUniverseComponents/telecom/telephony/abbreviatedNumbers/translations/Messages_pt_PT.xml
  client/telecomUniverseComponents/telecom/telephony/index.js
Labels: :jack_o_lantern: one-manager, quality check ok, translation required

#1059 refactor(components.ovh-password): move to telecomUniverseComponents
  client/app/app.js
  client/app/app.less
  client/app/index.js
  client/app/telecom/pack/slots/emailPro/add/pack-emailPro-add.html
  client/app/telecom/pack/slots/emailPro/detail/pack-emailPro-detail.html
  client/app/telecom/pack/slots/exchangeIndividual/add/pack-exchangeIndividual-add.html
  client/app/telecom/pack/slots/hostedEmail/add/pack-hostedEmail-add.html
  client/app/telecom/pack/translations/Messages_fr_FR.xml
  client/components/ovh-password/ovh-password.less
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/ovh-password/index.js
  client/telecomUniverseComponents/ovh-password/ovh-password.html
  client/telecomUniverseComponents/ovh-password/ovh-password.js
  client/telecomUniverseComponents/ovh-password/ovh-password.less
  client/telecomUniverseComponents/ovh-password/strength/bar/ovh-password-strength-bar.js
  client/telecomUniverseComponents/ovh-password/strength/check/ovh-password-strength-check.html
  client/telecomUniverseComponents/ovh-password/strength/check/ovh-password-strength-check.js
  client/telecomUniverseComponents/ovh-password/translations/Messages_fr_FR.xml
Labels: :jack_o_lantern: one-manager, quality check ok, translation required

#1069 refactor(components.voip): move to telecomUniverseComponents
  client/app/telecom/telephony/line/calls/forward/telecom-telephony-line-calls-forward.controller.js
  client/app/telecom/telephony/line/calls/forward/telecom-telephony-line-calls-forward.service.js
  client/app/telecom/telephony/line/management/password/telecom-telephony-line-management-password.controller.js
  client/app/telecom/telephony/line/phone/codec/telecom-telephony-line-phone-codec.controller.js
  client/app/telecom/telephony/line/phone/programmableKeys/telecom-telephony-line-phone-programmableKeys.controller.js
  client/app/telecom/telephony/service/assist/logs/telecom-telephony-service-assist-logs.controller.js
  client/components/navbar/navbar.service.js
  client/components/telecom/telephony/bulkAction/modal/telephony-bulk-action-modal.controller.js
  client/components/telecom/telephony/sidebar/telephony-sidebar.service.js
  client/components/telecom/voip/service/alias/voip-service-alias.factory.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/telecom/voip/billingAccount/voip-billing-account.factory.js
  client/telecomUniverseComponents/telecom/voip/billingAccount/voip-billing-account.service.js
  client/telecomUniverseComponents/telecom/voip/feature/line/fax/voip-feature-line-fax.service.js
  client/telecomUniverseComponents/telecom/voip/feature/line/line/phone/function/voip-feature-line-line-phone-function.factory.js
  client/telecomUniverseComponents/telecom/voip/feature/line/line/phone/function/voip-feature-line-line-phone-function.service.js
  client/telecomUniverseComponents/telecom/voip/feature/line/line/phone/voip-feature-line-line-phone.factory.js
  client/telecomUniverseComponents/telecom/voip/feature/line/line/phone/voip-feature-line-line-phone.service.js
  client/telecomUniverseComponents/telecom/voip/feature/line/line/voip-feature-line-line.factory.js
  client/telecomUniverseComponents/telecom/voip/feature/line/line/voip-feature-line-line.service.js
  client/telecomUniverseComponents/telecom/voip/feature/line/voip-feature-line.factory.js
  client/telecomUniverseComponents/telecom/voip/feature/line/voip-feature-line.service.js
  client/telecomUniverseComponents/telecom/voip/feature/voip-feature.factory.js
  client/telecomUniverseComponents/telecom/voip/index.js
  client/telecomUniverseComponents/telecom/voip/service/alias/voip-service-alias.factory.js
  client/telecomUniverseComponents/telecom/voip/service/line/voip-service-line.factory.js
  client/telecomUniverseComponents/telecom/voip/service/voip-service.factory.js
  client/telecomUniverseComponents/telecom/voip/service/voip-service.service.js
  client/telecomUniverseComponents/telecom/voip/telecom-voip.service.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1074 style(package.json): sort entries
  package.json
Labels: enhancement

#1065 fix(components.filters): update use of propsFilter
  client/components/telecom/telephony/bulkAction/modal/telephony-bulk-action-modal.controller.js
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/telephony-group-number-feature-ovh-pabx-dialplan-extension-rule-edit.controller.js
  client/components/telecom/telephony/timeCondition/slot/edit/telephony-time-condition-slot-edit.controller.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1073 Fix components translations
  client/telecomUniverseComponents/input-file/index.js
  client/telecomUniverseComponents/input-file/input-file.html
  client/telecomUniverseComponents/input-file/translations/Messages_fr_FR.xml
  client/telecomUniverseComponents/section-back-link/index.js
  client/telecomUniverseComponents/section-back-link/section-back-link.html
  client/telecomUniverseComponents/section-back-link/translations/Messages_fr_FR.xml
  client/telecomUniverseComponents/toaster/index.js
  client/telecomUniverseComponents/toaster/toast-message.html
  client/telecomUniverseComponents/toaster/translations/Messages_fr_FR.xml
Labels: :jack_o_lantern: one-manager, translation required

#1062 refactor(components.resiliation): move to telecomUniverseComponents
  client/app/telecom/pack/xdsl/resiliation/pack-xdsl-resiliation.html
  client/components/resiliation/resiliation-reason.component.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/resiliation/index.js
  client/telecomUniverseComponents/resiliation/resiliation-reason.component.html
  client/telecomUniverseComponents/resiliation/resiliation-reason.component.js
  client/telecomUniverseComponents/resiliation/resiliation.modal.html
  client/telecomUniverseComponents/resiliation/translations/Messages_cs_CZ.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_de_DE.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_en_ASIA.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_en_AU.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_en_CA.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_en_GB.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_en_SG.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_en_US.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_es_ES.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_es_US.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_fi_FI.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_fr_CA.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_fr_FR.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_it_IT.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_lt_LT.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_nl_NL.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_pl_PL.xml
  client/telecomUniverseComponents/resiliation/translations/Messages_pt_PT.xml
Labels: :jack_o_lantern: one-manager, quality check ok, translation required

#1066 refactor(components.shipping-mode): move to telecomUniverseComponents
  client/app/app.less
  client/app/telecom/pack/migration/shipping/telecom-pack-migration-shipping.html
  client/app/telecom/telephony/line/phone/accessories/shipping/telecom-telephony-line-phone-accessories-shipping.html
  client/app/telecom/telephony/line/phone/order/telecom-telephony-line-phone-order.html
  client/components/shippingModeSelection/shipping-mode-selection.component.js
  client/components/shippingModeSelection/shipping-mode-selection.less
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/shippingModeSelection/index.js
  client/telecomUniverseComponents/shippingModeSelection/shipping-mode-selection.component.js
  client/telecomUniverseComponents/shippingModeSelection/shipping-mode-selection.controller.js
  client/telecomUniverseComponents/shippingModeSelection/shipping-mode-selection.html
  client/telecomUniverseComponents/shippingModeSelection/shipping-mode-selection.less
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_cs_CZ.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_de_DE.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_en_ASIA.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_en_AU.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_en_CA.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_en_GB.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_en_SG.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_en_US.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_es_ES.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_es_US.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_fi_FI.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_fr_CA.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_fr_FR.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_it_IT.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_lt_LT.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_nl_NL.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_pl_PL.xml
  client/telecomUniverseComponents/shippingModeSelection/translations/Messages_pt_PT.xml
Labels: :jack_o_lantern: one-manager, quality check ok, translation required

#1077 refactor(components.callsfiltering): move to telecomUniverseComponents
  client/app/telecom/sms/receivers/telecom-sms-receivers.controller.js
  client/app/telecom/telephony/alias/configuration/callsFiltering/easyHunting/telecom-telephony-alias-configuration-callsFiltering-easyHunting.html
  client/app/telecom/telephony/alias/configuration/callsFiltering/oldPabx/telecom-telephony-alias-configuration-callsFiltering-oldPabx.html
  client/app/telecom/telephony/line/calls/filtering/telecom-telephony-line-calls-filtering.html
  client/telecomUniverseComponents/csv-parser/csv-parser.service.js
  client/telecomUniverseComponents/csv-parser/index.js
  client/telecomUniverseComponents/index.js
  client/telecomUniverseComponents/telecom/sms/index.js
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/addHelper/telecom-telephony-callsFilteringAddHelper.controller.js
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/addHelper/telecom-telephony-callsFilteringAddHelper.html
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/index.js
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/telecom-telephony-callsFilteringAdd.component.js
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/telecom-telephony-callsFilteringAdd.html
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/telecom-telephony-callsFilteringTable.component.js
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/telecom-telephony-callsFilteringTable.html
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_cs_CZ.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_de_DE.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_en_ASIA.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_en_AU.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_en_CA.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_en_GB.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_en_SG.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_en_US.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_es_ES.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_es_US.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_fi_FI.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_fr_CA.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_fr_FR.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_it_IT.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_lt_LT.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_nl_NL.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_pl_PL.xml
  client/telecomUniverseComponents/telecom/telephony/callsFiltering/translations/Messages_pt_PT.xml
  client/telecomUniverseComponents/telecom/telephony/index.js
Labels: :jack_o_lantern: one-manager, quality check ok

#1060 refactor(components.ovh-task-follow): remove unused component
  client/app/telecom/telecom.html
  client/components/ovh-task-follow/modal/ovh-task-follow-modal.controller.js
  client/components/ovh-task-follow/modal/ovh-task-follow-modal.html
  client/components/ovh-task-follow/ovh-task-follow.component.controller.js
  client/components/ovh-task-follow/ovh-task-follow.component.js
  client/components/ovh-task-follow/ovh-task-follow.html
  client/components/ovh-task-follow/translations/Messages_cs_CZ.xml
  client/components/ovh-task-follow/translations/Messages_de_DE.xml
  client/components/ovh-task-follow/translations/Messages_en_ASIA.xml
  client/components/ovh-task-follow/translations/Messages_en_AU.xml
  client/components/ovh-task-follow/translations/Messages_en_CA.xml
  client/components/ovh-task-follow/translations/Messages_en_GB.xml
  client/components/ovh-task-follow/translations/Messages_en_SG.xml
  client/components/ovh-task-follow/translations/Messages_en_US.xml
  client/components/ovh-task-follow/translations/Messages_es_ES.xml
  client/components/ovh-task-follow/translations/Messages_es_US.xml
  client/components/ovh-task-follow/translations/Messages_fi_FI.xml
  client/components/ovh-task-follow/translations/Messages_fr_CA.xml
  client/components/ovh-task-follow/translations/Messages_fr_FR.xml
  client/components/ovh-task-follow/translations/Messages_it_IT.xml
  client/components/ovh-task-follow/translations/Messages_lt_LT.xml
  client/components/ovh-task-follow/translations/Messages_nl_NL.xml
  client/components/ovh-task-follow/translations/Messages_pl_PL.xml
  client/components/ovh-task-follow/translations/Messages_pt_PT.xml
Labels: :jack_o_lantern: one-manager

#1080 build(deps): upgrade manager-webpack-config to v2.4.0
  package.json
  yarn.lock
Labels: :jack_o_lantern: one-manager

#1054 refactor(components.tel.screen): move to telecomUniverseComponents
  client/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/telephony-group-number-feature-ovh-pabx-dialplan-extension.factory.js
  client/telecomUniverseComponents/telecom/telephony/index.js
  client/telecomUniverseComponents/telecom/telephony/screen/index.js
  client/telecomUniverseComponents/telecom/telephony/screen/screenList/telephony-screen-list.factory.js
Labels: :jack_o_lantern: one-manager, quality check ok
